@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #141414;
  --foreground: #FFFFFF;

  --purple-primary: #703BF7;
  --purple-secondary: #8254F8;
  --purple-tertiary: #946CF9;
  --purple-light: #A685FA;

  --black-primary: #141414;
  --black-secondary: #1A1A1A;
  --black-tertiary: #262626;

  --gray-primary: #4D4D4D;
  --gray-secondary: #666666;
  --gray-tertiary: #808080;
  --gray-quaternary: #999999;

  --stroke-grey: #262626;
  --stroke-dark: #211E2F
}


body {
  font-family: Arial, Helvetica, sans-serif;
}